@mixin border-radius-small {
  border-radius: 0px;
}

@mixin border-radius-large {
  border-radius: 0px;
}

$mud: #ccc1a7;
$sand: #f1e9d5;
$wet_sand: #eae5cd;

$sky: #5893d4;
$water: #263238;

$night: #015562;
$dark_night: #00333d;

$gold: #fcca46;
$light_gold: #fdde89;

$altin: #f0a500;
$dark_altin: #cf7500;

$gunes: #ff6f3c;
$dark_gunes: #fc4200;
